#titulo{
     font-size: 70px;
    text-align: center;
    color: rgb(252, 252, 252);
}
.cuerpo{
display: flex;
gap:30px;
}
.cuerpo2{
display: flex;
gap:30px;
}
.btn-action{
    background-color: pink;
    color: rgb(214, 108, 179);
}
