.row {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

img {
    height: 18rem;
    /*mantiene la calidad*/
    object-fit: cover;
}

#titulo {
    font-size: 70px;
    text-align: center;
    color: rgb(252, 252, 252);
}

@media (min-width: 751px) {
    .card {
        width: 100%;
        height: 100%;

        .title {
            color: rgb(35, 14, 219);
        }
    }
}

@media (max-width: 750px) {
    .card {
        width: 100%;
    }

    .title {
        color: aqua;
    }
}

.btn-action {
    background-color: pink;
    color: rgb(214, 108, 179);
}