<h1 id="titulo">GALERIA</h1>
<!-- 
lg-> larger 
 lg:tamaño de pantalla mas grande -> PC
 md-> media
 md: tamaño de panatalla media -> TABLET
 sm-> smal
 sm:tamaño de pantalla chica -> CELULAR
  -->

<div class="container">
    <div class="row">
        <div *ngFor="let i of infoCarteras" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <img src="{{i.img}}" class="card-img-top" alt="{{i.alt}}">
                <div class="card-body">
                    <h5 class="card-title">{{i.titulo}}</h5>
                    <p class="card-text">{{i.descripcion}} - {{i.fechapublicacion}} - {{i.precio}}</p>
                    <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#ver"
                        (click)="verMas(i)">ver mas info</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div *ngFor="let i of infoJoyas" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <img src="{{i.img}}" class="card-img-top" alt="{{i.alt}}">
                <div class="card-body">
                    <h5 class="card-title">{{i.titulo}}</h5>
                    <p class="card-text">{{i.descripcion}} - {{i.fechapublicacion}} - {{i.precio}}</p>
                    <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#ver"
                        (click)="verMas(i)">ver mas info</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let i of infoMaquillaje" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <img src="{{i.img}}" class="card-img-top" alt="{{i.alt}}">
                <div class="card-body">
                    <h5 class="card-title">{{i.titulo}}</h5>
                    <p class="card-text">{{i.descripcion}} - {{i.fechapublicacion}} - {{i.precio}}</p>
                    <button type="button" class="btn btn-action" data-bs-toggle="modal" data-bs-target="#ver"
                        (click)="verMas(i)">ver mas info</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ver" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ver">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="" modal-imagen>

                    <img src="{{tarjetaseleccionada?.img}}" alt="{{tarjetaseleccionada?.alt}}">
                </div>

                <div class="modal-descripcion">
                    {{tarjetaseleccionada?.descripcion}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">comprar</button>
                <button type="button" class="btn btn-primary">mover al carrito</button>
            </div>
        </div>
    </div>
</div>