/*Boton lo llamamos por id*/
#titulo{
    font-size: 70px;
    text-align: center;
    color: rgb(252, 252, 252);
}
.card{
    margin-top: srem;
    gap: 40px;
}
/*Boton lo llamamos por clase*/
.btn-action{
    background-color: pink;
    color: rgb(214, 108, 179);
}

.cuerpo{
display: flex;
gap:30px;
}
.cuerpo2{
display: flex;
gap:30px;
}
.card-img-top{
height: 19rem;
}
.carousel{
    height: 12rem;
    width: 30px;
}

.carousel{
    height: 100rem;
    /*mantiene la calidad*/
    object-fit: cover;
}



.carousel-slide{
    background-color: blanchedalmond;
}

.row {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
img{
    height: 18rem;
    /*mantiene la calidad*/
    object-fit: cover;
}

@media (min-width: 751px) {
    .card {
        width: 100%;
        height: 100%;

        .title {
            color: rgb(35, 14, 219);
        }
    }
}

@media (max-width: 750px) {
    .card{
        width: 100%;
    }

    .title {
        color: aqua;
    }
}
.btn-action{
    background-color: pink;
    color: rgb(214, 108, 179);
}
